@model Domaine.Store

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CustomLayoutBackend2.cshtml";
}

<h2>Store Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <H4>
            @Html.DisplayNameFor(model => model.Nom) :
        </H4>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <H4>
            @Html.DisplayNameFor(model => model.Ville):
        </H4>

        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>

        <H4>
            @Html.DisplayNameFor(model => model.Adresse):
        </H4>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <H4>
            @Html.DisplayNameFor(model => model.Description) :
        </H4>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <H4>
            @Html.DisplayNameFor(model => model.tel) :
        </H4>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

        <H4>
            @Html.DisplayNameFor(model => model.type) :
        </H4>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>
        <br />
        <H3>Horaire :</H3>

        <H4>
            @Html.DisplayNameFor(model => model.heure_ouv) :
        </H4>

        <dd>
            @Html.DisplayFor(model => model.heure_ouv)
        </dd>

        <H4>
            @Html.DisplayNameFor(model => model.heure_ferm) :
        </H4>

        <dd>
            @Html.DisplayFor(model => model.heure_ferm)
        </dd>

    </dl>
</div>
<p>

    <input type="button" value="Back to List" onclick="location.href='@Url.Action("Index", "Stores")'" class="btn btn-dark" />
</p>
