@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Domaine.Store>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayoutBackend2.cshtml";
}
<br />
<h2>List of stores</h2>

<div style="text-align:right">
    
    <input type="button" value="Create new Store" onclick="location.href='@Url.Action("CreateStore", "Stores")'" class="btn btn-primary" />

</div><br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().heure_ouv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().heure_ferm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.heure_ouv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.heure_ferm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BoutiqueId }) |
            @Html.ActionLink("Details", "DetailsStore", new { id=item.BoutiqueId }) |
            @Html.ActionLink("Delete", "DeleteStore", new { id=item.BoutiqueId })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page })) 