@model IEnumerable<Domaine.ProductStore>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayoutBackend2.cshtml";
}

<h2></h2>

<div style="text-align:right">
    <input type="button" value="Add Product to store" onclick="location.href='@Url.Action("Create", "ProductStores")'" class="btn btn-primary" />
    <input type="button" value="List of products" onclick="location.href='@Url.Action("ProductList", "Produit")'" class="btn btn-primary" />
</div>
<br /><br />
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Store.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productt.Nom)
        </th>
       

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Store.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productt.Nom)
        </td>
      
        <td>
           
         
        </td>
    </tr>
}

</table>
