@model Domaine.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CustomLayoutBackend2.cshtml";
}

<h2>Product Details</h2>
<div  style="text-align:right">
   <right>@Html.ActionLink("Edit", "Edit", new { id = Model.ProduitId })</right>
</div>
<div>

    <hr />
    <dl class="dl-horizontal">



        <H4>
            @Html.DisplayNameFor(model => model.Nom) :
        </H4>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <br />

        <H4>
            @Html.DisplayNameFor(model => model.Image) :
        </H4>

        <dd>
            @{string path = "~/Content/Upload/" + Model.Image;}

            <img src="@Url.Content(path)" width="50" height="50" />
        </dd>
        <br />

        <H4>
            @Html.DisplayNameFor(model => model.Categorie.Nom) :
        </H4>         
        <dd>@Html.DisplayFor(model => model.Categorie.Nom)</dd>
        <br />

        <H4>
            @Html.DisplayNameFor(model => model.Brand.Nom) :
        </H4>         
        <dd>@Html.DisplayFor(model => model.Brand.Nom)</dd>
        <br />

        <H4>
            @Html.DisplayNameFor(model => model.Network.Nom) :
        </H4>      
        <dd>@Html.DisplayFor(model => model.Network.Nom)</dd>
        <br />

        <H4>
            @Html.DisplayNameFor(model => model.Description) :
        </H4>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <br />


        <H4>
            @Html.DisplayNameFor(model => model.Quantite) :
        </H4>

        <dd>
            @Html.DisplayFor(model => model.Quantite)
        </dd>
        <br />

        <H4>
            @Html.DisplayNameFor(model => model.Prix) :
        </H4>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <br />

    </dl>
</div>
 
<p>
   
    <input type="button" value="Back to List" onclick="location.href='@Url.Action("ProductList", "Produit")'" class="btn btn-dark" />
</p>
