@model IEnumerable<Domaine.Product>

@{
    ViewBag.Title = "FlyboxList";
    Layout = "~/Views/Shared/_CustomLayoutFrontend.cshtml";
}

<h2>Flybox</h2>


@using (Html.BeginForm())
{
    <div>
        <center><div> Serach by name : @Html.TextBox("SearchString")    </div></center>
        <input type="submit" value="Search" id="submit" />
    </div>
}
<div class="row product-container">
    @foreach (var item in Model)
    {

        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
            <div class="thumbnail product-item" style="height:300px">
                @{string path = "~/Content/Upload/" + item.Image;}
                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:160px;width:100%"
                     src="@Url.Content(path)" width="80" height="80" />

                <div class="caption">
                    <h5>@Html.DisplayFor(modelItem => item.Nom)</h5>
                    <p>@Html.DisplayFor(modelItem => item.Prix)৳.</p>
                    <p>
                        @if (item.Quantite > 0)
                        {
                        <p>Available</p>

                        }
                        else
                        {
                            <p>Not Available</p>
                        }
                        </p>

                    </div>

                    <div>

                        <right>@Html.ActionLink("Details", "DetailsFront", new { id = item.ProduitId }) |</right>

                    </div>
                </div>
            </div>


            <div></div>
                    }
</div>

