
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Domaine.Product>
@{
    ViewBag.Title = "HomeFront";
    Layout = "~/Views/Shared/_CustomLayoutFrontend.cshtml";
}

    <!-- Banner -->
<div class="sec-banner bg0 p-t-95 p-b-55">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-b-30 m-lr-auto">




                <div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
                    <!-- Block1 -->

                </div>

                <div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
                    <!-- Block1 -->

                </div>


            </div>
        </div>
    </div>
    <br />
    <!--liste par la-->





    <h1>Our products</h1><br /><br />
    <!-- <center>Html.DropDownList("categories", new List<SelectListItem>
    {
       new SelectListItem{ Text="Smartphones", Value = "1" },
       new SelectListItem{ Text="Accessories", Value = "2" },
       new SelectListItem{ Text="ADSL", Value = "3" },
       new SelectListItem{ Text="FlyBox", Value = "4" },
       new SelectListItem{ Text="FixBox", Value = "5" },
       new SelectListItem{ Text="Tablets", Value = "6" },

    }, new { htmlAttributes = new { class = "form-control" } })
    <br /><br /></center>-->


    <tr>
        <th>
            @Html.ActionLink("Sort A-Z Z-A", "HomeFront",
                new
                {
                    SortOrder = ViewBag.NameSortParm,
                    Selectedcat = ViewBag.Selectedcat

                })
        </th>
       
      
       

        <div style="text-align:center">
    
    @Html.DropDownList("Selectedcat",
                new SelectList(ViewBag.Uniquecat, "Value", "Text", ViewBag.Selectedcat),
                "Categorie", new { onChange = "this.form.onsubmit();" })
    </div>




    <div class="row product-container">

        @foreach (var item in Model)
        {
            // Html.DropDownListFor(model => model.C, item.Categorie.Nom, new { htmlAttributes = new { @class = "form-control" } })


            <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
                <div class="thumbnail product-item" style="height:300px">
                    @{string path = "~/Content/Upload/" + item.Image;}

                    <img class="img-responsive" title="Click to View Product detail"
                         style="cursor:pointer;height:160px;width:100%"
                         src="@Url.Content(path)" width="80" height="80" />
                    <center><a>@Html.ActionLink("Quick View", "DetailsFront", new { id = item.ProduitId })</a></center>

                    <div class="caption">
                        <h5>@Html.DisplayFor(modelItem => item.Nom)</h5>


                        <p>@Html.DisplayFor(modelItem => item.Prix)</p>
                        <p>
                            @if (item.Quantite > 0)
                            {
                            <p>Available</p>

                            }
                            else
                            {
                                <p>Not Available</p>
                            }
                            </p>

                        </div>

                        <div>



                        </div>
                    </div>
                </div>

                        }

    </div>



    <div class="flex-c-m flex-w w-full p-t-38 pagination-sm">

        @Html.PagedListPager(Model, Page => Url.Action("HomeFront", new { Page }))



    </div>
