
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Domaine.Product>
@{
    ViewBag.Title = "HomeFront";
    Layout = "~/Views/Shared/_CustomLayoutFrontend.cshtml";
}

    <!-- Banner -->
<div class="sec-banner bg0 p-t-95 p-b-55">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src=@Url.Content("/Content/Frontend/images/iphone.jpeg") alt="">

                    <a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                sMARTPHONES AND TABLETS
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src=@Url.Content("/Content/Frontend/images/ADSL-BANNER.jpg") alt="">

                    <a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">

                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                ADSL and FLYBOX
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
                <!-- Block1 -->

            </div>

            <div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
                <!-- Block1 -->

            </div>


        </div>
    </div>
</div>
<br />



@using (Html.BeginForm())
{
    <div>
        <center><div> Serach by name : @Html.TextBox("SearchString")    </div></center>
        <input type="submit" value="Search" id="submit" />
    </div>
}
<div class="row product-container">
    @foreach (var item in Model)
    {

        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
            <div class="thumbnail product-item" style="height:300px">
                @{string path = "~/Content/Upload/" + item.Image;}

                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:160px;width:100%"
                     src="@Url.Content(path)" width="80" height="80" />
              <center><a>@Html.ActionLink("Quick View", "DetailsFront", new { id = item.ProduitId })</a></center>

                <div class="caption">
                    <h5>@Html.DisplayFor(modelItem => item.Nom)</h5>
                    
                     
                    <p>@Html.DisplayFor(modelItem => item.Prix)</p>
                    <p>
                        @if (item.Quantite > 0)
                        {
                        <p>Available</p>

                        }
                        else
                        {
                            <p>Not Available</p>
                        }
                        </p>

                    </div>

                    <div>

                      

                    </div>
                </div>
            </div>
           
                    }

    </div>

   
<div class="flex-c-m flex-w w-full p-t-38 pagination-sm">
   
        @Html.PagedListPager(Model, Page => Url.Action("Index2", new { Page }))
   

   
</div>