@model IEnumerable<Domaine.Produit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategorieId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model){
    <tr>
        <td>
            @Html.Partial("_PartialView",item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategorieId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProduitId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProduitId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProduitId })
        </td>
    </tr>
}

</table>
