@model IEnumerable<Domaine.Product>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayoutFrontend.cshtml";
}


<br /><br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
      
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @{string path = "~/Content/Upload/" + item.Image;}

                <img src="@Url.Content(path)" width="50" height="50" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>

            <td>
              
                @Html.ActionLink("Details", "Details", new { id = item.ProduitId }) 

            </td>
        </tr>
                    }

</table>


